################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSDI_SPILELApplication/SSDI_SPILELApplication
