@model SSDI_SPILELApplication.Models.ContributeStoryModel

@{
    ViewBag.Title = "Contribute To Story";
}

<h3>Contribute To Story</h3>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/ContributeStory.js"></script>
</head>
@*@using (Html.BeginForm("ContributeStorySave", "Home", FormMethod.Post))
{*@
<body>
    <div ng-app="ContributeToStory" ng-controller="ContributeToStoryController">
        <form id="ContributeToStory" name="ContributeToStory" ng-submit="submitForm(ContributeToStory.$valid)">
            <div class="form-group">
                
                        @*<h3 style="text-align: center">Story Title: @Model.Title</h3>*@
                        <label style="text-align: center">Story Title - @Model.Title </label>
                   
               
                    <div style="text-align: center" class="form-group">
                    
                            <Label>Existing Content</Label>
                       
                        @Html.TextArea("myExistingContent", Model.Content, new { @style = "min-width: 100%; min-height: 230px", @readonly =true, @class="form-control" })
                    </div>
           
                <div class="form-group">
                    <Label style="text-align: center">Content to Add</Label>
                    <div ng-class="{ 'has-error' : ContributeToStory.textAnswer.$invalid && !ContributeToStory.textAnswer.$pristine }">
                        <textarea rows="10" style="min-width: 100%; min-height: 100px" id="textAnswer" name="textAnswer" ng-model="mydata.textAnswer" required></textarea>
                        @*@Html.TextAreaFor(m => m.ContributionText, new { @style = "min-width: 100%; min-width: 100%" })*@
                        <p ng-cloak ng-show="ContributeToStory.textAnswer.$invalid && !ContributeToStory.textAnswer.$pristine" class="help-block">Content is required.</p>
                    </div>
                </div>
               
                        <div style="margin-top: 10px;">

                        </div>
                        <div style="margin-top: 10px;">
                            @*@Html.ActionLink("ContributeStorySave", "ContributeStorySave", Model)*@
                            <input type="submit" class="btn" value="Save" ng-disabled="ContributeToStory.$invalid"/>
                        </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label ng-model="mydata.MessageString" ng-bind="MessageString"></label>
                    </div>

                </div>
                   
                
            </div>




        </form>
    </div>
</body>
@*}*@