@{
    ViewBag.Title = "SPIEL-Home";
}

<div class="jumbotron container">
    <h1>SPIEL</h1>
    </div>

<p class="lead">
    SPIEL is a web based platform for story writing. <br />
    Users can sign up in the website and after logging in will find a plethora of topics
    on which they can write. Multiple users can write for a topic at the same time. <br />
    <br />
    The story writing will be a time bound activity where-in multiple users will submit story parts
    for a topic in a given time window. Once the window expires, all the submitted entries will be
    reviewed by editor(s) and the best story will be added to the topic. <br />
    <br />
</p>
