@{
    ViewBag.Title = "Enter Password and confirm password";
}

@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>*@
<h4>@ViewBag.Title.</h4>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/updatepassword.js"></script>
</head>
<body>
    <div class="row" ng-app="UpdatePassword">

        <section id="resetpasswordform">
            <div class="col-md-12" ng-controller="resetpasswordController">
                <form name="resetpasswordForm" class="myForm" ng-submit="submitForm(resetpasswordForm.$valid)">

                    <div class="form-group" required ng-class="{ 'has-error' : resetpasswordForm.Password.$invalid && !resetpasswordForm.Password.$pristine }">
                        <label class="col-md-2 control-label">Password</label>
                        <div class="col-md-10">
                            <input type="password" name="Password" id="Password" ng-minlength="6" ng-maxlength="21" password-verify="{{mydata.ConfirmPassword}}"
                                   ng-model="mydata.Password" class="form-control input-sm" placeholder="Passsword" required />
                        </div>
                        <p ng-cloak ng-show="resetpasswordForm.Password.$invalid && !resetpasswordForm.Password.$pristine" class="help-block">Password should be greater than 5 and less than 20 characters.</p>
                    </div>

                    <div class="form-group" required ng-class="{ 'has-error' : resetpasswordForm.ConfirmPassword.$invalid && !formRegister.ConfirmPassword.$pristine }">

                        <label class="col-md-2 control-label">Confirm Password</label>
                        <div class="col-md-10">
                            <input type="password" compare-to="mydata.Password" password-verify="{{mydata.Password}}"
                                   name="ConfirmPassword" id="ConfirmPassword" ng-minlength="6" ng-maxlength="21" ng-model="mydata.ConfirmPassword" class="form-control input-sm" placeholder="Confirm Password" required />
                        </div>
                        <p ng-cloak ng-show="resetpasswordForm.ConfirmPassword.$invalid && !resetpasswordForm.ConfirmPassword.$pristine" class="help-block">Confirm Password should be greater than 5 and less than 20 characters.</p>
                    </div>
                    <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" ng-disabled="resetpasswordForm.$invalid" class="btn btn-default" />
                    </div>
            </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label ng-model="mydata.MessageString" ng-bind="MessageString"></label>
                        </div>
                    </div>

            </form>
</div>
        </section>
    </div>
</body>




@*<div class="col-md-offset-2 col-md-10">
            <label class="col-md-2 control-label">Password</label>
            <input class="col-md-10 form-control" name="password" type="text" id="password" ng-model="mydata.password" required />
            <p ng-cloak ng-show="resetpasswordForm.password.$invalid && !resetpasswordForm.password.$pristine" class="help-block">Password is required.</p>
        </div>
    </div>

                <div class="form-group" ng-class="{ 'has-error' : resetpasswordForm.confirmpassword.$invalid && !resetpasswordForm.confirmpassword.$pristine }">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="col-md-2 control-label">ConfirmPassword</label>
                        <input class="col-md-10 form-control" name="confirmpassword" type="text" id="confirmpassword" ng-model="mydata.confirmpassword" required />
                        <p ng-cloak ng-show="resetpasswordForm.password.$invalid && !resetpasswordForm.password.$pristine" class="help-block"> Confirm Password is required.</p>
                    </div>
                </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit Form" ng-disabled="editorForm.$invalid" class="btn btn-default" />
        </div>
    </div>*@
